/* header */

.header {
  padding: 15px 0px;
  position: absolute;
  z-index: 999;
  width: 100%;
  background-color: #111;
}

.main-menu {
  text-align: center;
}
.main-menu ul {
  margin: 0;
  list-style-type: none;
}

.main-menu ul > li {
  display: inline-block;
  list-style-type: none;
  position: relative;
}
.main-menu ul > li a {
  padding: 15px 18px;
  line-height: 20px;
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
}

/* end header */
