* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


/* header */

.nav {
  background-color: #f2f2f2;
  text-align: right;
  height: 70px;
  border-bottom: solid 1px #eaeaeb;
  position: relative;
}

.menu {
  margin: 0 30px 0 0;
  font-family: Raleway;
}

.menu a {
  clear: right;
  text-decoration: none;
  font-weight: 500;
  color: #1c3664;
  margin: 0 10px;
  line-height: 70px;
}

.nav .logo {
  float: left;
  margin-left: 20px;
}
.nav .logo img {
  height: 50px;
}

.nav label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}
@media screen and (max-width: 700px) {
  .nav label {
    display: block;
    cursor: pointer;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    border: solid 1px #eaeaeb;
    text-align: center;
    background-color: #fff;
  }
  #toggle:checked + .menu {
    display: block;
  }
}

h2{
  text-align: center;
  margin: 1.5%;
  color: #eaeaeb;
}

/* end header */

/* reservation */


.veh-types {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 44%;
  margin: auto;
  margin-bottom: 3%;
}
.veh-types select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.veh-types input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* end reservation */

/* start modal */
.btn {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
}
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

/* end modal */

/* footer */

.footer-con {
  padding: 25px 0;
  background-color: #333;
  color: #bcc7d1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 6%;
  padding-right: 6%;
}

.footer-con h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
}

.footer-con ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 0;
}

.footer-con ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-con ul a:hover {
  opacity: 1;
}

.footer-col {
  flex: 25%;
  margin: 0%;
  width: auto;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .footer-col {
    flex: 50%;
    margin-top: 15px;
  }
}

@media screen and (max-width: 370px) {
  .footer-col {
    flex: 100%;
    margin-top: 15px;
  }
}

/* end footer */

